<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranklist</title>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
        </style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1> Codeforces SuperMario Run Challenge RANKLIST </h1> 
    <!-- <h3> Questions solved is the count of questions, an individual has solved, having rating more than individual's rating </h3> -->
    
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Register</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="/register" style="padding: 2em;">
            <label data-error="wrong" data-success="right" for="text">Roll Number</label>
            <input type="text" id="" name="Roll" class="form-control validate">

            <label data-error="wrong" data-success="right" for="text">Name</label>
            <input type="text" id="" name="Name" class="form-control validate">

            <label data-error="wrong" data-success="right" for="text">Codeforces Handle</label>
            <input type="text" id="" name="Handle" class="form-control validate">
            
            <label data-error="wrong" data-success="right" for="text">Year</label>
            <select id="Year" name="Year" class="form-control validate">
                <option value="2018">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
                <option value="2021">2021</option>
            </select>


            <div class="text-center" style="padding:2em;">
            <button class="btn btn-submit" type="submit" value="submit" >Start Run</button>
            </div>
    </form>
    </div>
  </div>
</div>
<div>
<h4>If Your name is not visible in ranklist <a href="" data-toggle="modal" data-target="#modalLoginForm">Register Here</a></h4>
<form action='/' method="POST">
  <label>Check Yearwise Ranklist</label>
  <select name='year' onchange='if(this.value != 0) { this.form.submit(); }' >
      <option value=2000>--Select One--</option>
       <option value=2018>2018</option>
       <option value=2019>2019</option>
       <option value=2020>2020</option>
       <option value=2021>2021</option>
       <option value=2000>all</option>
  </select>
</form>
</div>

    <table style="width:100%">
        <tr>
            <th>S No.</th>
            <th>Name</th>
            <th>Roll No</th>
            <th>Codeforces Handle</th>
            <th>Rating (as of 04/02/22)</th>
            <th> Questions Solved </th>
        </tr>
        {% for i in lists %}
            <tr>
                <td>{{ i.s_no }}</td>
                <td>{{ i.name }}</td>
                <td>{{ i.roll_no }}</td>
                <!-- <td> <a href = "https://codeforces.com/profile/{{ i.codeforces_handle }}" target = "_blank">{{ i.codeforces_handle }}<a></td> -->
                <td> <a href = "/{{ i.codeforces_handle }}" target = "_blank">{{ i.codeforces_handle }}<a></td>
                <td>{{ i.rating }}</td>
                <td>{{ i.questions_solved }}</td>
        {% endfor %}
    </table>

</body>
</html>
